.first-section,
.footer {
    background-color: #1F2937;
}

.first-section {
    display: flex;
    flex-direction: column;
    padding: 20px 75px; /* bottom-top 10px; left-right 38px */
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

/* Header links */
.header a,
.left-column .subtext {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* Header logo & Header Links */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 50px;
}

.first-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-container .img {
    background-color: grey;
    padding: 50px;

    flex-basis: 70%;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.left-column .sign-up {
    background-color: #3882F6;
    color: white;

    /* Makes button 'round' - the higher px, the more 'round' it is*/
    border-radius: 16px;
}

/* ======================================= */

.second-section {
    background-color: white;
}

/* ======================================= */

.third-section {
    background-color: #E5E7EB;
}

/* ======================================= */

.fourth-section {
    background-color: white;
}

/* ======================================= */

.footer {
}