.first-section,
.footer {
    background-color: #1F2937;
}

.first-section {
    display: flex;
    flex-direction: column;
    padding: 10px 38px; /* bottom-top 10px; left-right 38px */
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

/* Header links */
.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* Header logo & Header Links */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ===== */

.second-section {
    background-color: white;
}

.third-section {
    background-color: #E5E7EB;
}

.fourth-section {
    background-color: white;
}